body {
  background-color: #fff;
  font-family: sans-serif;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 3em;
}

nav {
  background-color: #ccc;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #ccc;
  padding: 20px;
}
